@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin&display=swap');
@import 'style.css';

:root{  
    --black:#000000;
    --white:#ffffff;
    --title:#4A4E69;
    --bg-header:#8E9AAF;
    --bg-decoration-card:#FEEAFA;
    --bg-decoration:#CBC0D3;
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Palanquin', sans-serif;
}
h1,span{
    font-family: 'Staatliches', cursive;
}
